:root {
    --theme-color:rgb(82, 82, 202);
    --hover-color:maroon;
} 
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h2{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    padding: 10px 100px 0px;
    color: var(--theme-color);
}
h2:hover{
    color:var(--hover-color);
}

#nav-bar-custom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
    align-items: center;
}

a {
    font-family: Raleway;
    color:var(--theme-color);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding-right: 10px;
    margin: 20px;

}
a:hover{
    text-decoration: none;
    color:var(--hover-color);
}

i {
    padding-right: 4px;
}

a:hover > i {
    animation-name: jiggle;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

/* Main Content*/
#content{
    height: 77vh;
    background-color:rgb(235, 235, 243);
    border-radius: 7px;
    margin:10px;

}
/*Footer Section*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--theme-color);
    color: #fff;
    padding: 20px 0;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
}


footer p {
    text-transform: uppercase;
    font-size: 14px;
    /* opacity: 0.6; */
    align-self: center;
}

@media screen and (max-width: 920px) {
    h2{
        font-size: 30px;

    }
    #nav-bar-custom {
        flex-direction: column;
        align-items: center;
    }

    a {
        font-size: 25px;
        margin: 0;
        border-bottom: none;
    }
}

@media screen and (max-width: 600px) {
    h2{
        font-size: 30px;

    }
    #nav-bar-custom {
        flex-direction: column;
        align-items: center;
    }

    a {
        font-size: 15px;
        margin: 0;
        border-bottom: none;
    }
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

@keyframes jiggle {
    48%, 62% {
        transform: scale(1.0, 1.0)
    }
    50% {
        transform: scale(1.1, 0.9)
    }
    56% {
        transform: scale(0.9, 1.1) translate(0, -5px)
    }
    59% {
        transform: scale(1.0, 1.0) translate (0, -3px)
    }
}
