:root {
  --theme-color: rgb(82, 82, 202);
  --hover-color: rgb(80, 142, 248);
  --main-background: rgb(201, 219, 248);
}
/* background-color: rgb(201, 219, 248); */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  padding: 10px 100px 0px;
  color: var(--theme-color);
}
h2:hover {
  color: var(--hover-color);
}

#nav-bar-custom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom:10px;

  /* animation: 1s fadein 0.5s forwards;
    opacity: 0; */
  align-items: center;
  /* box-shadow: 2px 2px 5px var(--main-background); */
  opacity: 0.9;
  /* background-color: rgb(201, 219, 248); */
}

#nav-bar-custom a {
    font-family: "Pacifico", cursive;
    /* font-family: Raleway; */
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding-right: 10px;
    margin: 20px;
    color: var(--theme-color);
    
  }

#main-div {
  height: 100px;
  align-items: center;
  margin-top: 20px;
}

#theme-image{
    background-image: url("../image/2334.jpg");
    height: 450px;
}

#intro {
  font-family: "Pacifico", cursive;
  font-size: 35px;
  background-color: rgb(201, 219, 248);
  height: 300px;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
}

.row-space{
    height: 75px;
  }

#bio {
    margin:15px;
    height:300px;
}

#icon-group{
    box-shadow: 2px 2px 5px var(--main-background);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(201, 219, 248);
}

#bio img {
  max-width: 100%;
  max-height: 100%;
  border-color: rgb(201, 219, 248);
  border-width: 2px;
  border-style: solid;
  border-radius: 7px;
  box-shadow: 2px 2px 5px var(--main-background);
}

#bio p {
    font-family: Raleway; 
    font-size:17px;
}

#row-bio-bottom{
    height:10vh;
}
#row-7{
    height: 200px;
  }

#scroll-arow {
  animation-name: shakeUp;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  color: var(--theme-color);
  position:absolute;
    bottom:15px;
    right:15px;
}


a:hover {
  text-decoration: none;
  color: var(--hover-color);
}

h2:hover,
a:hover > i {
  animation-name: jiggle;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

#nav-bar-custom i {
  padding-right: 4px;
}

#contact-form{
  padding-left:30px;
  border-left-color: rgb(201, 219, 248);
  border-left-width: 2px;
  border-left-style: solid;
}

/*Footer Section*/

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--theme-color);
  color: #fff;
  padding: 20px 0;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  /* opacity: 0.6; */
  align-self: center;
}

.icons{
    height:70px;
    width: 70px;
}

#icon-group img {
    max-width: 100%;
    max-height: 100%;
}

#contributions-header,#contact-header{
    height: 150px;
    background-color: var(--main-background);
    font-family: "Pacifico", cursive;
}

@media screen and (max-width: 920px) {
  h2 {
    font-size: 28px;
  }
  #nav-bar-custom {
    flex-direction: column;
    align-items: center;
  }


#row-2 {
    font-family: "Pacifico";
    font-size: 25px;
  }
  

  a {
    font-size: 25px;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 20px;
  }
  #nav-bar-custom {
    flex-direction: column;
    align-items: center;
  }

  #row-2 {
    font-family: "Pacifico";
    font-size: 20px;
  }

  a {
    font-size: 12px;
    margin: 0;
    border-bottom: none;
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

@keyframes jiggle {
  48%,
  62% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  56% {
    transform: scale(0.9, 1.1) translate(0, -5px);
  }
  59% {
    transform: scale(1, 1) translate (0, -3px);
  }
}

@keyframes shakeUp {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateY(10px);
  }
}
